.image-notebook {
  width: 250px;
  height: 170px;
}
.header-content {
  height: 80px;
  display: flex;
  background: black;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.header-rating {
  display: flex;
  align-items: center;
}
.header-taring-tag {
  text-transform: uppercase;
  font-size: 22px;
  margin-left: 10px;
}
.button-header {
  text-decoration: none;
  display: inline-block;
  width: 120px;
  height: 38px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.input-header {
  width: 200px;
  height: 50px;
}
.rounded {
  list-style: none;
  font: 14px "Trebuchet MS", "Lucida Sans";
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.rounded a {
  position: relative;
  left: 20px;
  width: 150px;
  text-align: center;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  background: #dad2ca;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
}
.rounded a:hover {
  background: #e9e4e0;
}
.rounded a:hover:before {
  transform: rotate(360deg);
}
.rounded a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #8fd4c1;
  height: 35px;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}
h1.ribbon {
  font-size: 16px !important;
  width: 400px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  background: #ba89b6;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1em 2em;
  margin: 0 auto;
}
h1.ribbon:before,
h1.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #986794;
  z-index: -1;
}
h1.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
h1.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
h1.ribbon .ribbon-content:before,
h1.ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #804f7c transparent transparent transparent;
  bottom: -1em;
}
h1.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
h1.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
