.notebook-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1300px;
  background: #f9f6f1;
}
.menu-notebook {
  display: flex;
  background-color: rgb(251, 255, 255);
  height: 320px;
  width: 250px;
  margin-right: 50px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.notebook-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
