.buttonOrder {
  text-decoration: none;
  display: inline-block;
  width: 120px;
  height: 38px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin-top: 0px;
  margin-right: 0px;
}
.buttonOrder:hover {
  background: #2ee59d;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  transform: translateY(-3px);
}
.notebookProductBottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.price {
  color: red;
  font-size: 20px;
}
.notebook-name {
  font-size: 18px;
}
.colorNotebook {
  font-size: 18px;
}
.btn {
  text-decoration: none;
  display: inline-block;
  width: 130px;
  height: 38px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 10px;
}
.btn:hover {
  background: #2ee59d;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  transform: translateY(-3px);
}
.buttonModal {
  text-transform: uppercase;
  margin: 10px 20px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 10px;
}
.buttonModal:hover {
  transform: translateY(-3px);
}
.clickLike {
  cursor: pointer;
}
