.modal.open {
  top: 0;
  left: 0;
}
.modal.close {
  height: 0;
  display: none;
}
.modal-content {
  padding: 20px;
  border-radius: 7px;
  background-color: rgb(158, 73, 73);
  height: 180px;
  width: 500px;
  justify-content: flex-end;
  margin: 0 auto;
  margin-top: 250px;
}
.modal__close {
  height: 60px;
  color: white;
  cursor: pointer;
}
.modal__content-header {
  display: flex;
  justify-content: space-between;
}
.modal__content-main {
  color: white;
  font-size: 19px;
}
.modal-header {
  color: white;
  font-size: 23px;
  font-weight: 600;
}
.modal-buttton {
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgb(158, 73, 73);
}
.modal-btn-flex {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}
